html {
  box-sizing: border-box;
}

body {
  background-color: #555;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

section#calendar {
  background-color: lightslategray;
  margin: 1rem;
  padding: 1rem;
  width: 900px;
  height: 200px;
}

div#rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.day {
  margin: 0.2rem;
  min-width: 20px;
}

.on {
  background-color: darkcyan;
}

.off {
  background-color: lightblue;
}
