html {
  box-sizing: border-box;
}

body {
  background-color: #555;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* main elements */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

/* stats */

#stats {
  display: flex;
}

#stats > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.8rem;
  padding: 1rem;
  background-color: #333;
  border-radius: 0.6rem;
  color: white;
}

.title {
  font-size: 0.9rem;
}

h1 {
  color: #222;
}

/* buttons and links */

a {
  color: darkblue;
  text-decoration: none;
}

a.btn {
  color: darkblue;
  text-decoration: none;
  background-color: #999;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
}

a.btn:hover {
  background-color: #bbb;
  color: darkblue;
}

a:hover {
  color: lightblue;
}

header,
nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* calendar */

section#calendar {
  background-color: lightslategray;
  margin: 1rem;
  padding: 1rem;
  width: 900px;
  height: 200px;
}

div#rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.day {
  margin: 0.2rem;
  min-width: 20px;
}

.on {
  background-color: darkcyan;
}

.off {
  background-color: lightblue;
}
