.minicalendar {
  padding: 1.2rem;
  margin: 0.2rem;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: #888;
  background-color: #222;
  color: white;
}
