.mini-calendar {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ccc;
  background-color: #222;
  padding: 1.2rem;
  margin: 0.2rem;
  width: 200px;
  border: 1px solid #888;
  border-radius: 7px;
}

.mini-calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px dotted gray;
}

.mini-calendar__logo img {
  height: 30px;
  width: auto;
}

.mini-calendar__streak-count-icon {
  height: 20px;
  width: auto;
}

.mini-calendar__title {
  margin-left: 1rem;
  font-size: 0.9rem;
}

.mini-calendar__content {
  margin-top: 1rem;
}

.mini-calendar__total-count,
.mini-calendar__streak-count {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  padding: 10px;
  margin: 10px;
}
.mini-calendar__total-count-text {
  display: flex;
}

.mini-calendar__total-count > div,
.mini-calendar__streak-count > div {
  padding: 5px;
  margin-left: 5px;
}

.mini-calendar__total-count-number {
  background-color: sienna;
  border-radius: 5px;
}

.mini-calendar__button {
  padding: 5px;
  border-radius: 5px;
  background-color: darkslategray;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

.mini-calendar__button:hover {
  background-color: darkolivegreen;
}
