.mini-calendar {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ccc;
  background-color: #222;
  padding: 1.2rem;
  margin: 0.2rem;
  height: 200px;
  width: 200px;
  border: 1px solid #888;
  border-radius: 7px;
}

.mini-calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #333;
}

.mini-calendar__logo img {
  width: 50px;
  height: auto;
}

.mini-calendar__title {
  background-color: rebeccapurple;
  margin: 0;
  font-size: 1rem;
}

.mini-calendar__content {
  margin-top: 1rem;
}

.mini-calendar__total-count,
.mini-calendar__streak-count {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.mini-calendar__total-count > div,
.mini-calendar__streak-count > div {
  padding: 5px;
  margin-left: 5px;
}

.mini-calendar__total-count-number {
  background-color: sienna;
  border-radius: 5px;
}
