.day {
  margin: 0.2rem;
  min-width: 10px;
  border-radius: 4px;
}
.day-incomplete {
  background-color: lightblue;
}
.day-completed {
  background-color: darkcyan;
  border-color: lightblue;
  outline: 2px solid lightblue;
}
