.stats-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 1.2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  text-align: center;
  color: #aaa;
}

.stats-container > div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 0.6rem;
  color: white;
}

.title {
  font-size: 1.1rem;
  color: #aaa;
}
